

<div class="jumbotron">
  <h1>Fruit Ninja Facts</h1>
</div>

<section class="row marketing">
  <h4>Awesome Fruits</h4>
  
  <section class="main-section">
	  <article class="fruit-name">
	    Apple
	  </article>  
	  <article class="fruit-info f1">
			<table>
			  <thead>
			    <tr>
			      <th>calories</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tfoot>
			    <tr>
			      <td>quantity</td>
			      <td>$180</td>
			    </tr>
			  </tfoot>
			  <tbody>
			    <tr>
			      <td>price</td>
			      <td>$100</td>
			    </tr>
			    <tr>
			      <td>Raw</td>
			      <td>$80</td>
			    </tr>
			  </tbody>
			</table>

	 </article>
  </section>	


  <br>
  <br>
  <br>
  <br>
  
  <section class="main-section">
	  <article class="fruit-name">
	    Pear 
	  </article>  
	  <article class="fruit-info f2">
			<table>
			  <thead>
			    <tr>
			      <th>calories</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tfoot>
			    <tr>
			      <td>quantity</td>
			      <td>$180</td>
			    </tr>
			  </tfoot>
			  <tbody>
			    <tr>
			      <td>price</td>
			      <td>$100</td>
			    </tr>
			    <tr>
			      <td>Raw</td>
			      <td>$80</td>
			    </tr>
			  </tbody>
			</table>
	 <article>
  </section>	
  <br>
  <br>
  <br>
  <br>
  
  <section class="main-section">
	  <article class="fruit-name">
	    Banana
	  </article>  
	  <article class="fruit-info f3">
			<table>
			  <thead>
			    <tr>
			      <th>calories</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tfoot>
			    <tr>
			      <td>quantity</td>
			      <td>$180</td>
			    </tr>
			  </tfoot>
			  <tbody>
			    <tr>
			      <td>price</td>
			      <td>$100</td>
			    </tr>
			    <tr>
			      <td>Raw</td>
			      <td>$80</td>
			    </tr>
			  </tbody>
			</table>
	  <article>
  </section>		  

</section>
